* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --border-color: #ffffff;
  --btn-border-color: rgba(255,255,255,0.5);
  --surface-color:  rgba(255,255,255,0.1);
  --surface-color-hover: rgba(255,255,255,0.01);
  --highlight-color: rgba(255,255,255,0.2);
  --bg-mobile: url(assets/bg-mobile.jpg);
  --switch-bg: url(assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --border-color: black;
  --btn-border-color: rgba(0,0,0,0.5);
  --surface-color: rgba(0,0,0,0.2);
  --surface-color-hover: rgba(0,0,0,0.25);
  --highlight-color: rgba(0,0,0,0.15);
  --bg-mobile: url(assets/bg-mobile-light.jpg);
  --switch-bg: url(assets/sun.svg);
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

body {
  /*background-image: url(assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/
  /*background: color image repeat position/size 
  SHORT HAND
  */
  background: var(--bg-mobile) no-repeat top center/cover;
  height: 100vh; 

}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;/*margin-right: auto; margin-left: auto;*/
  padding: 0 24px;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;

}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* Switch */
#switch {
  position: relative;
  width: 62px;
  margin: 4px auto;
}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg) no-repeat center;
  border-radius: 50%;
  border: 0;
  
  position: absolute;
  z-index: 1;  
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 62px;
  height: 24px;
  border: 1px solid var(--btn-border-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-color);
  border: 1px solid var(--btn-border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 8px;  
  text-decoration: none;
  transition: background 0.3s;
}

ul li a:hover {
  background-color: rgba(255,255,255,0.05);
  border: 2px solid var(--border-color);
}

/*Social Links */

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
  text-align: center;
}

#social-links a {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.3s;
}

#social-links a:hover {
  background-color: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

/* media queries */

@media (min-width: 700px){
  :root {
    --bg-mobile: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-mobile: url(./assets/bg-desktop-light.jpg);
  }
}